@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --black:#000;
  --blue: #1699ad;
  --light-color:#969696;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --heading:3rem;
  --easeout:cubic-bezier(.26,.62,.45,.88);
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Poppins", sans-serif;
transition: 0.2s all linear;
}
html{
    scroll-behavior: smooth;
}
body {
background-color: var(--black);
}
section {
    padding: 2rem 10%;
}
.underline{
    display: block;
    width: 70%;
    height: 2px;
    margin: 0 auto;
    transform: scaleX(0);
    transition: all 1s var(--easeout);
}

.subtitle{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
}

.title{
    display: table;
    margin: .5em auto;
    font-size: var(--heading);
    font-weight: 300;
    line-height: 1;
    text-align: center;

}

.btn2{
    display: inline-block;
    margin-top:1em;
}
.btn2 a{
    text-decoration: none;
    color:var(--black);
    font-size: 1rem;
    border: 1px solid var(--black);
    padding: 0.5em 1em;
    border-radius: 5px 0 0 5px;
}
.btn2 i{
    font-size: 1rem;
    padding: 0.7em;
    border: 1px solid var(--black);
    border-left: none;
    border-radius: 0 5px 5px 0;
}

/* Navbar starts */
header {
position: fixed;
z-index: 1000;
top: 0;
left: 0;
right: 0;
padding: 0.5em 4%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--black);
}
.colorChanger {
    /* for main page */
    background-color: var(--black);
}


header .logo {
font-family: "Montserrat", sans-serif;
display: flex;
align-items: center;
font-size: clamp(1.5rem,2.5vw,2rem);
cursor: pointer;
}

header .logo svg {
width: 1.5em;
padding: 0.2em;
height: auto;
fill: white;
}

header a {
text-transform: uppercase;
color: white;
text-decoration: none;
font-weight: 400;
}


header nav a {
    font-size: 1rem;
    color: #fff;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
}

header nav a:hover {
    background-color: var(--blue);
    color: var(--black);
}

header .cta {
    padding: 0.2em 1.2em;
    border-radius: 5em;
    border: 0.1em solid var(--blue);
}

header .cta:hover {
    background-color: rgba(0, 234, 255, 0.2);
    transform: translateY(-0.1em);
}


header #menu-bars{
    position:absolute;
    color:white;
    top:0.65rem;
    right:1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    cursor: pointer;
}
/* Home section */

#home {
    position: relative;
    /* height: 120vh; */
}

#home img{
    top:0;
    width:100%;
    position: absolute;
    height: clamp(100vh,100vw,120vh);
    object-fit: cover;
    object-position: 35%;
    z-index: -1;
}

#home .carbg {
/* this is to fix white space below car bg */
display: block;
position:relative;
width: 100%;
top:0;
z-index: -2;
}
#home .car {
position: absolute;
z-index: 0;
left: 0;
bottom: 0;
width: 100%;
}

#home h1 {
/* border: 1px solid white; */
width: 100%;
text-align: center;
color: #fff;
text-transform: uppercase;
font-family: "Montserrat", sans-serif;
font-size: clamp(2.2rem,9vw,10rem);
/* font-size: 2.2rem; */
font-weight: 700;
position: fixed;
z-index:-1;
top: 100%;
left: 50%;
transform: translateY(-35%) translateX(-50%);
animation: landing-h1 1s var(--easeout) 1s forwards;
}


.darkoverlay {
position: absolute;
z-index: -2;
inset: 0;
opacity: 0%;
/* black overlay */
background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
    );
animation: landing-overlay 1.5s var(--easeout) 1s forwards;
}

#home .gradientOverlay{

position: absolute;
inset:0;
bottom:0;
width:100%;
/* height:100%; */
z-index: 10;

background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.96%, #000000 95.87%);
}


/* About us section */

#about{
    background-color: var(--black);
    
    position: relative;
    /* z-index: -2;
    background: url(images/IMG_20200305_105924.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    min-height: 100vh;
    /* height: 100vh; */
}



#about .subtitle{
    /* color:#00eaff; */
    color:var(--blue);
}
#about .title{
    color: white;
    /* margin-bottom:3em; */
}

#about .title .underline {
    background-color: #fff;
}
#about img{
    display:block;
    width:85%;
    margin: 1em auto;
}

#about .para-container{
    margin:5em 0;
}

#about .para-container p{
    /* margin-top:auto 0; */
    padding:1em;
    color:#fff;
    text-align: center;
    font-size: clamp(1rem,2vw,1.2rem);
    font-weight: 200;
    /* font-size:1rem; */
    line-height: 2;
}

#about .para-container p a{
    /* text-decoration: none; */
    color: white;
    /* background-color: white; */
}

/* About us ends */

/* departments starts */
#department{
    overflow: hidden;
    background-color: whitesmoke;
    position: relative;
    /* z-index: 100; */
    /* transform: translateY(-5rem); */
}
#department .subtitle{
    margin-top:0.5em 0;
    padding: 0.2em 0.5em;
    color: var(--blue);
}
#department .title{
    color: var(--black);
}

#department .title .underline {
    background-color: var(--black);
}


#department .box-container{
    margin:3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-gap: 3rem;
}

#department .box-container .box{
    text-align: center;
    border-radius: 1rem;
    padding:3rem;
    box-shadow: var(--box-shadow);
    background-color: white;
}
#department .box img{
    height:7rem;
    color: #00eaff;
}

#department .box h3{
    margin:3rem 0 0rem;
    font-size: 1.7rem;
    font-weight: 400;
}

#department .box p{
    font-size: clamp(0.8rem,2vw,1rem);
    font-weight: 200;
    line-height: 2;
    color:var(--light-color);
    /* color:#5f5f5f; */
}

#department .box:hover{
    background-color: var(--black);
    cursor: pointer;
}


#department .box:hover h3,
#department .box:hover p{
    color:white;
}

#department .box:hover img{
    filter: invert(100%);
}

#department .box:hover .btn2>* {
    border-color: white;
    color:white;
}
#department .box .btn2 a:hover{
    background-color: white;
    color: var(--black);
}
/* department */
/* cars */
#cars{
    min-height: 100vh;
    background-color: var(--black);
    /* padding:2rem 0; */
    overflow: hidden;
}
#cars .title{
    color:white;
}
#cars .car{
    display: flex;
    padding:2em 0;
}
#cars .car:nth-child(2n-1){
    flex-direction: row-reverse;
}
#cars .car .content{
    width:50%;
}
#cars .car .car-img{
    width:50%;
    position:relative;
    /* transform: translateX(75px); */
}
#cars .car .car-img img{
    width:100%;
}


#cars .car .content{
    padding:0 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-3rem);
}

#cars .car .content .subtitle{
    color: white;
    text-align: start;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 2px;
    padding:1em 0;
}
#cars .car .content p{
    font-weight: 200;
    color:var(--light-color);
}
#cars .car .content .btn2 *{
    color:white;
    border-color: white;
}
#cars .car .content .btn2 a:hover{
    background-color: white;
    color: black;

}




/* contact */
#contact{
    padding:2em 0;
    position: relative;
    background-color: var(--black);
}

#contact .title{
    display: block;
    font-size: 4rem;
    color: white;
    padding:1em;
    border-bottom: 1px solid white;
}

#contact .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:3rem;
    width:min(45rem,90%);
    margin:3em auto;

}

#contact .box-container h3{
    color: white;
    font-weight: 200;
    font-size: 1.5rem;
}

#contact .box-container form{
    margin:3em auto;
    flex:1 1 40rem;
}

#contact .box-container form  input:not(.btn),
#contact .box-container form  select{
    width: 100%;
}


#contact .box-container form  input::placeholder,
#contact .box-container form textarea::placeholder{
    color:#5f5f5f;
}

#contact .box-container form  input,
#contact .box-container form textarea,
#contact .box-container form select{
    font-size: 1.2rem;
    font-weight: 200;
    outline:none;
    border: none;
    color:white;
    /* background: rgb(8, 8, 8); */
    background-color: transparent;
    border-bottom: 2px solid #5f5f5f;
    padding:0.5rem 1rem;
    margin:1em 0;
}



#contact .box-container form  select option{
    background: var(--black);
    color: #5f5f5f;
}

#contact .box-container form  input:valid,
#contact .box-container form textarea:valid,
#contact .box-container form  input:focus,
#contact .box-container form textarea:focus,
#contact .box-container form  select:focus,
#contact .box-container form  select:valid{
    border-bottom:2px solid #fff;
}


#contact .box-container form textarea{
    width:100%;
    resize:none;
    height:15rem;
}

#contact .box-container form .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .box-container form .btn{
    padding: 0.7em 1.5em;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 400;
    color: #fff;
    background-color: var(--black);
    border: none;
    border-radius: 45px;
    border: 1px solid white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#contact .box-container form .btn:hover {
border: none;
background-color: rgb(0, 191, 208);
box-shadow: 0px 15px 20px rgba(0, 191, 208, 0.2);
color: #fff;
transform: translateY(-5px);
}
#contact .box-container form .btn:active {
transform: translateY(-1px);
}
/* contact */

/* footer */
footer{
    position: relative;
    z-index: 1;
    background-color: var(--black);
    text-align:center;
}
footer .info{
    padding:2em 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer .info .info-box{
    width:25%;
}
footer .info .info-box>*{
    color:white;
    text-align: start;
}

footer .info .info-box h3{
    font-size: 1.2rem;
    font-weight: 300;
}

footer .info .info-box p{
    color: #5f5f5f;
    margin:0.5rem 0;
}

footer .socials a{
    font-size: 2rem;
    color:#fff;
    font-weight: 700;
    padding:1em;
    margin: 0.5em;
    cursor: pointer;
}
footer .socials a:hover{
    color:var(--blue);
}

footer .footerBottom{
    background-color: rgb(34, 34, 34);
    color:white;
    padding:0.5em 0;
    margin-top:1em;
}

footer .footerBottom p{
    font-size: .9rem;
}

footer .footerBottom a{
    text-decoration: none;
    color:var(--blue);
}

#page-404{
    /* background-color: white; */
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-404 .darkoverlay{
    opacity: 1;
    animation:none;
}
#page-404 div{
    color: white;
    text-align: center;
}
#page-404 div h1{
    font-size: clamp(2.5rem, 5vw, 5rem);
}
#page-404 div p{
    font-size: 1.2rem;
    font-weight: 500;
    /* color:var(--light-color); */
}
#page-404 .text-404{
    overflow: hidden;
    position: absolute;
    z-index: -1;
    color:white;
    opacity: 0.17;
    font-size:clamp(15rem,30vw,20rem);
    font-weight: 400;
    translate: translate(-50%,-50%);
}
#page-404 svg{
    width:clamp(7rem,10vw,25%);
    height:50%;
}
#page-404 .btn {
text-decoration: none;
color:#747474;
margin:2em auto;
padding-right:0.5em;
display: flex;
height: 3em;
width: 100px;
align-items: center;
justify-content: center;
background-color: #eeeeee4b;
border-radius: 3px;
letter-spacing: 1px;
transition: all 0.2s linear;
cursor: pointer;
border: none;
background: #fff;
}

#page-404 .btn > svg {
margin-right: 5px;
margin-left: 5px;
font-size: 20px;
transition: all 0.4s ease-in;
}

#page-404 .btn:hover > svg {
font-size: 1.2em;
transform: translateX(-5px);
}

#page-404 .btn:hover {
/* box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff; */
transform: translateY(-2px);
}

@keyframes landing-h1 {
    100%{
        top:35%;
    }
}

@keyframes landing-overlay {
    100%{
        opacity: 100%;
    }
}

@media (max-width:1200px) {
    section {
        padding: 2rem 4%;
    }
}


/* responsive navbar */
@media (max-width:800px){
    header{
        padding:0.5em 0;
        flex-direction: column;
        align-items: flex-start;
    }
    header .logo{
        margin-left: 2%;
    }
    header #menu-bars{
        display: flex;
    }
    header nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        position:absolute;
        top:100%;
        background-color: var(--black);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header nav a{
        border-radius: 0;
        text-align: center;
    }
    header nav.active{
        display: flex;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    footer .info{
        flex-direction: column;
    }
    footer .info .info-box{
        width:100%;
    }
    footer .socials a{
        font-size: 1.5rem;
    }
    #cars .car .content{
        width: 100%;
    }
    #cars .car .car-img{
        width: 100%;
    }
    #cars .car:nth-child(n){
        flex-direction: column-reverse;
    }
    #cars .car .content{
        transform: translateY(0);
    }
}


/* -------Departments----------- */

/* department hero */
#department-hero{
    background-color: white;
    min-height: 100vh;
    border-bottom: 1px solid var(--black);
}
#department-hero h1{
    /* color: white; */
    /* width:50%; */
    margin:2em auto;
    font-size: clamp(2rem,5vw,4rem);
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 1.5;
    opacity:0;
    transform: translateY(50);
    border-bottom: 1px solid black;
}

#department-hero p{
    opacity:0;
    transform: translateY(50);
    font-weight: 200;
    color:var(--light-color);
    text-align: center;
    font-size: 1.3rem;
    font-size: clamp(1rem,2vw,1.3rem);
    line-height: 2;
    margin:10rem auto;
}
/* department responsibilities */
#responsibility{
    color: white;
    min-height: 100vh;
}

#responsibility .subtitle{
    text-align: start;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
#responsibility .line{
    background-color: white;
    height:1px;
    width: 25%;
}

#responsibility ul{
    margin:0 2em;
    margin-top:3em;
    column-count: 2;
    column-gap: clamp(10rem,10vw,17rem);
    
}


#responsibility ul li{
    display: inline-block;
    position: relative;
    width:90%;
    font-weight: 200;
    margin-bottom:2em;
    line-height: 2;
    letter-spacing: 1px;
}
#responsibility ul>li:before {
    content:'•';
    /* font-size: 2rem; */
    /* padding:0;
    margin:0; */
    position: absolute;
    left:-20px;
     /* top:-15px; */
     /* margin-right:0.5em;  */
}

#responsibility .btn2{
    margin-left: 2em;
}

#responsibility .btn2 a{
    padding-left:2em;
    padding-right:2em;
    color:white;
    border: 1px solid white;
}
#responsibility .btn2 i{
    border: 1px solid white;
}
#responsibility .btn2 a:hover{
    background-color: white;
    color:var(--black);
}

/* Cars */
/* car hero */
.car-hero{
    padding:0;
    background-color: white;
}
.car-hero .swiper-slide .content{
    position: absolute;
    top:30%;
    left:10%;
    width: 60%;
    border-left: 2px solid var(--black);
    padding-left:.5em;
    margin:-0.5em 0;
    opacity: 0;
    transform: translateY(50px);
    
}
.car-hero .content h1{
    line-height: .8;
    /* padding-top:.2em; */
    font-size: clamp(3rem,8vw,8rem);
    font-weight: 400;
    color: #000;
}
.car-hero .content span{
    font-size: clamp(1.5rem,3vw,5rem);
    padding:0;
    
}
/* Raptor1 */
.raptor1 .swiper-slide{
    height: 100vh;
}
.raptor1 .swiper-slide:nth-child(1){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../images/IMG_5734.webp");
    background-size: cover;
    background-position: center;
    
}
.raptor1 .swiper-slide:nth-child(2){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../images/DSC_0245.webp");
    background-size: cover;
    background-position: center;
    
}
.raptor1 .swiper-slide:nth-child(3){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../images/IMG_5771.webp");
    background-size: cover;
    background-position: center;
    
}
.raptor1 .swiper-slide:nth-child(4){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../images/IMG_6580.webp");
    background-size: cover;
    background-position: center;
    
}

/* Raptor1 */
/* Raptor2 */
.raptor2 .swiper-slide{
    height: 100vh;
}
.raptor2 .swiper-slide:nth-child(1){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../images/IMG_6828.webp");
    background-size: cover;
    background-position: center;
    
}
.raptor2 .swiper-slide:nth-child(2){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../images/IMG_6847.webp");
    background-size: cover;
    background-position: center;
    
}
.raptor2 .swiper-slide:nth-child(3){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../images/IMG_6944.webp");
    background-size: cover;
    background-position: center;
    
}
.raptor2 .swiper-slide:nth-child(4){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../images/IMG_6580.webp");
    background-size: cover;
    background-position: center;
    
}

/* Raptor2 */
/* car hero */
/* car info */
.car-details{
    min-height: auto;

}
.car-details .title{
    color:white;
}
.car-details .para-container{
    margin:1rem;
}

.car-details .para-container p{
    /* margin-top:auto 0; */
    padding:1em;
    color:#fff;
    text-align: center;
    font-size: clamp(1rem,2vw,1.2rem);
    font-weight: 200;
    /* font-size:1rem; */
    line-height: 2;
}

/* car info */
/* car news */
.news{
    background-color: whitesmoke;
    min-height:100vh;
}
.news .subtitle{
    /* color: white; */
    text-align: start;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.news .line{
    background-color: var(--black);
    height:1px;
    width: 25%;
}
.news ul{
    position: relative;
    margin:2em 0;
    /* column-count: 1; */
    /* column-gap: clamp(2rem,5vw,10rem); */
    /* column-gap: 1rem; */
    
}
.news ul li{
    list-style:none;
    background: #fff;
    box-sizing: border-box;
    display: block;
    position: relative;
    /* height:10rem; */
    height:clamp(8rem,26vw,10rem);
    width:clamp(10rem,90vw,35rem);
    margin:1em 0;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
}
.news ul li:hover{
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
}
.news ul li a{
    text-decoration: none;
    color:var(--black);
}
.news ul li .time{
    /* position:relative; */
    padding:1em;
    background: var(--black);
    color:white;
    width:30%;
    height:100%;
    float:left;
    text-align: center;
    inset:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news ul li .time h2{
    font-size: clamp(1.5rem,2.5vw,2rem);
    font-weight: 400;
}
.news ul li .time span{
    font-size: 1.5rem;
}
.news ul li .details{
    /* padding:1em; */
    padding:0.8em;
    height:100%;
    width:70%;
    float:left;
}
.news ul li .details h3{
    position:relative;
    font-size: 1.5rem;
    font-weight: 400;
}
.news ul li .details p{
    position:relative;
    /* margin-left:.5em; */
    color:var(--light-color);
    font-weight: 200;
    font-size: clamp(.7rem,2vw,.9rem);
}

/* news */
/* gallery */
.gallery .subtitle{
    color: white;
    text-align: start;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.gallery .line{
    background-color: white;
    height:1px;
    width: 25%;
}

.gallery .box-container{
    margin:2em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2em;
}
.gallery .box-container img{
    width:100%;
}

.gallery .box-container img:hover{
    opacity: 0.6;
}

@media (max-width:800px) {
    #responsibility ul{
        column-count: 1;
    }
    #responsibility .line{
        width:50%;
    }
    .news ul{
        column-count: 1;
    }
}


.loading-wrapper{
    position: fixed;
    width:100%;
    height:100%;
    inset: 0;
    z-index: 100;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-wrapper svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   .loading-wrapper circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   